////
/// Framework - Tokens
/// @group 01_tokens
////


/// Green color variants
$green-swatches: (
  'green-800': #1B8D56,
  'green-700': #1F673C,
  'green-600': #267B48,
  'green-500t': #007E07,
  'green-500': #2E9356,
  'green-450': #3EAF6A,
  'green-400': #37B067,
  'green-300t': #00D655,
  'green-300': #6DC590,
  'green-200': #98D5B0,
  'green-100': #B7E1C8,
  'green-50': #F2FAF5,
);

$green-800: #1B8D56;
$green-700: #1F673C;
$green-600: #267B48;
$green-500t: #007E07;
$green-500: #2E9356;
$green-450: #3EAF6A;
$green-400: #37B067;
$green-300t: #00D655;
$green-300: #6DC590;
$green-200: #98D5B0;
$green-100: #B7E1C8;
$green-50: #F2FAF5;

/// Gray color variants
$gray-swatches: (
  'gray-950': #191925,
  'gray-920': #2B2B39, // for mode subway
  'gray-900': #393945,
  'gray-890': #393A4F, // for mode subway
  'gray-850': #4D4F68,
  'gray-800': #53535C,
  'gray-700': #63656E,
  'gray-650': #757783,
  'gray-600': #B1B3BA,
  'gray-500': #C9CAD1,
  'gray-400': #D6D9DE,
  'gray-300': #E4E7ED,
  'gray-250': #E7E9EE,
  'gray-200': #F1F2F5,
  'gray-100': #F7F7F9,
  'gray-50': #FCFCFC,
);

$gray-950: #191925;
$gray-920: #2B2B39; // for mode subway
$gray-900: #393945;
$gray-890: #393A4F; // for mode subway
$gray-850: #4D4F68;
$gray-800: #53535C;
$gray-700: #63656E;
$gray-650: #757783;
$gray-600: #B1B3BA;
$gray-500: #C9CAD1;
$gray-400: #D6D9DE;
$gray-300: #E4E7ED;
$gray-250: #E7E9EE;
$gray-200: #F1F2F5;
$gray-100: #F7F7F9;
$gray-50: #FCFCFC;

$base-font: "Graphik", Helvetica, sans-serif;